name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar flex, gcc e libfl-dev
        run: sudo apt-get update && sudo apt-get install -y flex gcc libfl-dev

      - name: Compilar com arquivo de teste válido
        run: |
          cd src
          flex scanner.l
          gcc lex.yy.c -o scanner -lfl
          ./scanner ../tests/Valid_Toy_Test.txt
      - name: Compilar com arquivo de teste inválido
        run: |
          cd src
          flex scanner.l
          gcc lex.yy.c -o scanner -lfl
          ./scanner ../tests/Invalid_Toy_Test.txt
        continue-on-error: true